header {
    background-color: beige;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.cabecalho-imagem{
    width: 25%;

}
.torta-de-limao{
    width: 100%;
   display: grid;
}
.titulo {   
    background-color: beige;
    color:brown;
    display: flex;
    justify-content: center;
}
.texto {
    background-color: beige;
    color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}